<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <nav>
        <a href="{% url 'list_projects' %}">Main page</a>
      </nav>
      <div>
        <h1>My Tasks</h1>
        <table>
          <thead>
            <th>Name</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
          </thead>
          <tbody>
            <tr>
            {% for item in show_my_task.assignee.all %}
            <td>{{ item.name }}</td>
            <td>{{ item.start_date }}</td>
            <td>{{ item.due_date }}</td>
            <td>{{ item.is_complete|yesno }}</td>
            {% empty %}
            <p>You have no tasks</p>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
