<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ detail_project.name }}
    </title>
  </head>
    <nav>
      <a href="{% url 'list_projects' %}">Main page</a>
      <a href="{% url 'create_task' %}">Create a task</a>
    </nav>
  <body>
    <main>
      <div>
      <h1>{{ detail_project.name }}</h1>
      <p>{{ detail_project.description }}</p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <th>Name</th>
          <th>Assignee</th>
          <th>Start date</th>
          <th>Due date</th>
          <th>Is completed</th>
        </thead>
        <tbody>
          {% for item in detail_project.tasks.all %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.assignee }}</td>
            <td>{{ item.start_date }}</td>
            <td>{{ item.due_date }}</td>
            <td>{{ item.is_complete|yesno }}</td>
            {% empty %}
            <p>This project has no tasks</p>
          </tr>
            {% endfor %}
        </div>
        </tbody>
      </table>
    </main>
  </body>
</html>
