<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
</head>
  <header>
      <nav>
          <a href="{% url 'create_project' %}">Create a project</a>
          <a href="{% url 'create_task' %}">Create a task</a>
      </nav>
  </header>
<body>
  <main>
    <div>
     <h1>My Projects</h1>
     {% for item in list_project %}
      {% empty %}
     <p>You are not assigned to any projects</p> {% endfor %}
    <table>
      <thead>
        <th>Name</th>
        <th>Number of tasks</th>
      </thead>
      <tbody>
      {% for item in list_project %}
      <tr>
      <td><a href="{% url 'show_project' item.id %}">{{ item.name }}</a></td>
      <td>{{ item.tasks.all|length }}</td>
      {% endfor %}
      </tr>
      </tbody>
      </thead>
    </table>
    </div>
  </main>
</body>
</html>
